@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #141414;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

.logo{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    font-weight: 500;
    transition: color 0.5s ease;
}

.navigation a:hover{
    color: rgb(253, 19, 19);
}

section{
    padding: 0px 500px 0px 200px;
    font-size: 1.6em;
    background-color: black;
    color: aliceblue;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section span{
    color: rgb(253, 19, 19);
}

.intro span{
    font-weight: 650;
}

.social-info a{
    color: aliceblue;
    font-size: 1.3em;
    padding: 10px;
    transition: 0.5s ease;
}

.social-info a:hover{
    color: rgb(253, 19, 19);
}

.social-info .CV-btn { 
    text-decoration: none;
    font-size: 0.7em;
    color: black;
    background-color: aliceblue;
    border-radius: 25px;
    font-weight: 600;
}  

